header {
    margin-top: 35px;
    margin-bottom: 60px;
    margin-left: 30px;
    margin-right: 35px;
    padding: auto;
    background-color: crimson;
    color: white;
}
li {
    display: inline;
}
li {
    float: left;
}
a {
    display: block;
    padding: 8px;
    background-color: crimson;
}
ul {
    background-color:crimson;
}
a {
    background-color: crimson;
    transition: background-color .10;
}
a .hover {
    background-color: white;
}
a {
    border-color: red;
    border-radius: 30px;
}
.my-image {
   width: 200px;
   height: 200px; 
}